@charset "UTF-8";
/*
********************************************    头部header  *********************************************
*/
header{
    width: 100%;
    margin: auto;

    a{
        background: url(../images/index.png) no-repeat;
    };

    .headTopArea{
        width: 100%;
        margin: auto;
        line-height: 32px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ccc;

        .headTopRight{
            float: right;
            margin: 7px 0px 0 0px;

            .headTopRightGG{
                width: 70px;
                line-height: 18px;
                float: left;
                background: url(../images/notice.png) no-repeat;

                    .gonggao{
                        width: 55px;
                        float: left;
                        padding-left: 26px;
                        background-position: 70px 20px;
                        text-align: left;
                        color: #808080;
                    }
            };

            .headTopRightLink{
                float: right;
                margin-left: 10px;

                    .weixin{
                        float: left;
                        background-position: -25px -25px;
                        width: 16px;
                        height: 20px;
                        position: relative;
                        // background-color: #3eb034;
                        .erweixin{
                            display: none;
                            width: 148px;
                            height: 169px; 
                            z-index: 999;
                            border: 1px solid #e5e5e5;
                            cursor: pointer;
                            background-image: url(../images/weixin.png);
                            position: absolute;
                            top: 26px;
                            right: 0;
                        };
                    };

                    .weixin:hover .erweixin{
                            display: block;
                    };

                    .weibo{
                        float: left;
                        background-position:-50px -25px;
                        width: 16px;
                        height: 20px;
                        margin-left: 2px;
                        // background-color: #f6e068;
                    }; 
                }
            };
            
            .headTopLeft{
                float: right;
                letter-spacing: 1px;

                .loginArea{
                    float: left;
                    color: #808080;

                    span{
                        color: #808080;
                        display: inline-block;
                        width: 117px;
                        height: 16px;
                        margin-left: 10px;
                        text-align: center;
                        /*
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        */
                    };

                    .login{
                        color: #808080;
                        background-position: 100px 0px;
                        display: inline-block;
                        width: 53px;
                        line-height: 16px;
                        text-align: left;
                    };

                    .register{
                        color: #808080;
                        background-position: 100px 0px;
                        display: inline-block;
                        text-align: right;
                        width: 53px;
                        line-height: 16px;
                    }
                };

                .myShopArea{
                    float: left;
                    margin:0 13px;

                    a{
                        color: #808080;
                        background-position: 100px 0px;
                    }
                }
            }
           
    
    };

    .headSearch{

        .SearchRight{
            float: right;
            margin-top: 30px;

            .Search{
                .inputSou{
                    width: 300px;
                    line-height: 30px;
                    border: 1px solid #ccc;
                };
                .souBtn{
                    width: 45px;
                    line-height: 32px;
                    color: white;
                    margin-left: -8px;
                    cursor: pointer;
                    background: #b81c22;
                };

                .buyCar{
                    float: right;
                    background: #b81c22;
                    width: 100px;
                    height: 34px;
                    margin-left: 30px;
                    color: white;
                    text-align: center;

                    .carText{ 
                        margin: 10px 0 0 5px;

                        a{
                            width: 65px;
                            float: left;
                            color: white;
                            text-align: right;
                             background-position: -160px -7px;
                        };

                        .carNum{
                            margin-top: 10px;
                        }
                    }
                }
            };

            .host{
                div{
                    margin-top: 5px;
                    color: #808080;
                    margin-left: 20px;

                    a{
                        background-position: -100px -40px;
                        color: #808080;
                        margin-left: 5px;
                    }
                }
            }
        }
    };

    .headNav{
        // background: pink;
        
        .content{
            .nav{
                width: 100%;
               .navul{
                    width: 100%;

                    .navli{
                        float: left;
                        border-right: 1px solid #333;
                        text-align: center;
                        vertical-align: middle;
                        vertical-align: middle;
                        margin-top: 40px;
                        position: relative;

                        .nava{
                             color: #727171;
                             display: block;
                             width: 100px;
                             height: 100%;
                             background-position: 10px 50px;
                        }
                    };

                    .navli:last-child{
                        border-right: none;
                    };
                    .navli:nth-child(1){
                        border-bottom: none;
                    }

                    .logo{
                        border: none;
                        margin-top: 10px;

                        .nava{
                            background-position: 0px -60px;
                            width: 180px;
                            height: 50px;
                            text-align: right;
                            margin-top: 10px;
                        }
                    };

                    .navTwoUl{
                        position: absolute;
                        top: 20px;
                        left: 0;
                        z-index: 10000;
                        background-color: white;
                        display: none;

                        li{
                            margin: 10px 0;
                           
                            a{
                                color: #727171;
                                display: block;
                                width: 100%;
                                height: 100%;
                                background-position: 100px 50px;
                            }
                        };
                        span{
                            display: block;
                            height: 5px;
                            width: 101px;
                            margin-top: 10px;
                        };
                        li:hover a{
                            color: #b81c22;
                        }
                    };

                    .navli:hover .navTwoUl{
                        display: block;
                    };

                    .navli:hover span{
                        background-color:  #b81c22;
                    };
               }
            }
        }
    }
}


/*
**********************************************    主体article  ************************************
*/
article{
    width: 100%;
    margin: auto;

    .banner{
        position: relative;
        width: 100%;
        margin: 20px auto;
        height: 600px;
        .bannerBox{
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            li{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        };

        .bannerDisc{
            position: absolute;
            top: 90%;
            left: 45%;
            li{
                width: 15px;
                height: 15px;
                border-radius: 50%; 
                float: left;
                text-align: center;
                margin: 0 5px;
                cursor: pointer;
                background-color: #abc;
            };
            .current {
                background-color: pink;
            }
        };

        span{
            background: url(../images/btn.png) no-repeat;
        };

        .banBtnLeft{
            display: inline-block;
            width: 50px;
            height: 60px;
            position: absolute;
            left: 10px;
            top: 45%;
            color: white;
            text-align: center;
            cursor: pointer;
            background-position: 0px 0px;
        };

        .banBtnRight{
            display: inline-block;
            width: 50px;
            cursor: pointer;
            height: 60px;
            position: absolute;
            right: 10px;
            top: 45%;
            color: white;
            text-align: center;
            background-position: -40px 0px;
        }
    };

    .activeDiv{
        width: 100%;

        li{
            float: left;
            background: url(../images/618.jpg) no-repeat;
            height: 80px;
            cursor: pointer;
        };

        .activeDivC{
            width: 70%;
            background-position: 0px 0px;
        };
        .activeDivD{
            width: 30%;
            background-position: -840px 0px;
        }
    };

    .activeRecom{
        width: 100%;

        li{
            float: left;
            height: 50px;
            background: url(../images/5.jpg) no-repeat;
        };
        .activeA{
            width: 70%;
            background-position: 0 0;
        };
        .activeMore{
            width: 30%;
            cursor: pointer;
            background-position: -840px 0;
        }
    };

    .productShow{
        width: 100%;
        margin: auto;
        ul{
            width: 100%;
            margin: auto;
            li{
                float: left;
                margin-left: 30px;
                a{
                    display: block;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                };
                a:hover{
                    transform: scale(1.01);
                }   
            }
        }
    };

    .productShowKong{
        h2{
            color: #9a9a9a;
            text-align: center;
            font-size: 18px;
        }
    };

    .chooseYou{
        width: 100%;
        margin: 40px auto;
        box-sizing: border-box;
        li{
            float: left;
            margin-left: 10px;
            a{
                width: 100%;
                display: block;
                img{
                    width: 100%;
                }
            };
         
            h3{
                border: 1px solid #ccc;
                border-top: none;
                font-size: 14px;
                line-height: 28px;
                padding: 25px;
                span{
                    color: #a10000;
                    display: block;
                    float: right;
                }
            }
        };

        .chooseYouli{
            margin-left: 0;
        }

        .chooseYouTwo{
            a{
                display: block;
                height: 50%;
                width: 100%;
            }
        }
    };

    .smallProduct{
        width: 100%;
        margin:30px auto;
        li{
            float: left;
            margin-left: 15px;
            a{
                display: block;
                width: 100%;
                img{
                    width: 100%;
                }
            }    
            h3{
                border: 1px solid #ccc;
                border-top: none;
                font-size: 14px;
                line-height: 28px;
                padding: 25px 10px;
                span{
                    color: #a10000;
                    display: block;
                    float: right;
                }
            }
        };
        li:hover{
            transform: scale(1.01);
        }
        .smallProductli{
            margin-left: 0;
        }
    };

    .lifeProduct{
        width: 100%;
        margin: 30px auto;
        li{
            float: left;
            margin-left: 15px;
            a{
                display: block;
                width: 100%;
                img{
                    width: 100%;
                }
            }   
        };
        .lifeProductli{
            margin-left: 0;
        };
        li:hover{
            transform: scale(1.01);
        }
    };

    .mainLine{
        width: 100%;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        .mainLineFirst{
            li{
                float: left;
                width: 370px;
                text-align: center;
                margin: 50px auto;
                border-right: 1px solid #ccc;
                a{
                    display: block;
                    width: 100%;
                    // height: 200px;
                    background-position: 500px 600px;
                    text-align: center;
                    p{
                        margin: 15px auto;
                    };
                    .onlineTime{
                        background-color: #b81c22;
                        color: white;
                        line-height: 32px;
                        margin:0 auto;
                        width: 160px;
                    }
                }
            };

            .seven{
                a{
                    color: #727171;
                }
            };

            .saoYiSao{
                border: none;
                margin-top: 20px;
                a{
                    color: #727171;
                    .codeSao{
                        width: 105px;
                        height: 105px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    };
                    em{
                        color: #a10000;
                        margin: 0;
                    }
                }
            }
        };

        .mainLineSed{
            width: 100%;
            margin: 30px auto;
            ul{
                width: 100%;
                margin-left: 5%;
                li{
                    float: left;
                    border-right: 1px solid #dadadb;
                    text-align: center;
                    background-color: #f8f8f8;
                    line-height: 50px;
                    width: 15%;
                    a{
                        color: #333;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-position: 500px 600px;
                    }
                };
                .mainLineSedLastli{
                    border-right: none;
                }
            }
        }
    }
}


/*
*********************************************    底部footer   *********************************************
*/
footer{
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #333;

    .fooetrFisrt{
        width: 100%;
        margin: 10px auto;
        text-align: center;
        color: #3e3a39;
        p{
            line-height: 25px;
        }
    };

    .footerImg{
        width: 100%;
        margin: 0 auto;
        div{
            margin: 20px 0 10px 200px;
            padding-bottom: 60px;

            a{
                background: url(../images/index2.png) no-repeat;
                display: block;
                float: left;
                margin-left: 21px;
            };
            .footerImg1{
                width: 113px;
                height: 42px;
                background-position: 0px -580px;
            };
            .footerImg2{
                width: 156px;
                height: 45px;
                background-position: 0px -629px;
            };
            .footerImg3{
                width: 96px;
                height: 42px;
                background-position: 0px -675px;
            };
            .footerImg4{
                width: 96px;
                height: 42px;
                background-position: -100px -675px;
            };
            .footerImg5{
                width: 50px;
                height: 42px;
                background-position: -200px -675px;
            };
            .footerImg6{
                width: 120px;
                height: 40px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }  
        }  
    };
}

/*
**********************************************   回到顶部  ********************************************
*/
.toWindos{
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 10;
    li{
        background: url(../images/baywindow.png) no-repeat;
    };
    .downAPP{
        width: 75px;
        height: 75px;
        background-position: 0 0;
    };
    .online{
        width: 75px;
        height: 72px;
        background-position: 0 -77px;
    };
    .BlackTop{
        width: 75px;
        height: 56px;
        background-position: 0 -150px;
    }
}